<div class="container row">
  <h1>Issues</h1>
  <% @issue.each do |issue| %>
    <div class="col-12 col-md-6 col-lg-4 pb-1">
      <a href="<%= url_for issue %>" class="text-decoration-none text-reset">
        <h5 class="mb-0"><%= issue.name %></h5>
        <p class="my-2">
          <small>
            <%= issue.date.strftime("%B %-d, %Y") %>
          </small>
        </p>
      </a>
    </div>
  <% end %>
</div>