<div class="container">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col-lg-3 mb-3 border-right col-md-4 col-sm-6 col-12">
      <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <img height="32px" src="<%= image_path 'lawrence.svg' %>" /> 
      </a>
      <p class="text-muted mb-0">&copy; <i>The Lawrence</i> <%= Time.current.year %></p>
      <p class="text-muted mt-0">Site by Noah Trupin ’23</p>
    </div>

    <div class="col-6 mb-2 col-md-2">
      <b>Sections</b>
      <ul class="nav flex-column">
        <% ["News", "Opinions", "Features", "Arts", "Sports", "Editorials"].each do |section| %>
          <li class="nav-item">
            <a class="nav-link p-0 text-muted" href="/sections/<%= section.downcase %>"><%= section %></a>
          </li>
        <% end %>
        <li class="nav-item"><a href="/issues" class="nav-link p-0 text-muted">Issues</a></li>
      </ul>
    </div>

    <div class="col-6 mb-2 col-md-2">
      <b>Other</b>
      <ul class="nav flex-column">
        <li class="nav-item"><a href="/masthead" class="nav-link p-0 text-muted">Masthead</a></li>
        <li class="nav-item"><a href="/about" class="nav-link p-0 text-muted">About</a></li>
        <li class="nav-item"><a href="/contact" class="nav-link p-0 text-muted">Contact Us</a></li>
        <li class="nav-item"><a href="/charter" class="nav-link p-0 text-muted">Charter</a></li>
        <li class="nav-item"><a href="/subscribe" class="nav-link p-0 text-muted">Subscibe</a></li>
        <li class="nav-item"><a href="/search" class="nav-link p-0 text-muted">Search</a></li>
        <li class="nav-item"><a href="/admins/sign_in" class="nav-link p-0 text-muted">Editor Login</a></li>
      </ul>
    </div>

    <div class="col-md-2 mb-2"></div>

    <div class="col-md-2 mb-2"></div>

    <div class="col-md-2 mb-2"></div>
  </footer>
</div>
