<h1>About Us</h1>
<p><i>The Lawrence</i>, the student newspaper of The Lawrenceville School, is published weekly during the school year except for during the School’s annual Thanksgiving, winter, and spring breaks.</p>
<p><i>The Lawrence</i> is run by a board of 15-20 student editors and advised by two members of The Lawrenceville School’s faculty. While all typesetting and layout is done by the editorial board, contributions are open to any member of the school community.</p>
<br />
<p><a href="/masthead">Meet Us</a></p>
<br />
<h3>Mission</h3>
<p>From <i>The Lawrence</i>'s charter:</p>
<p>The fundamental mission of <i>The Lawrence</i> is to provide the Lawrenceville community with a comprehensive survey of on and off campus events, student opinion, art and culture, and athletics. As the primary mirror and voice of the student body, <i>The Lawrence</i> strives to offer a source of personal and community reflection so as to enrich the Lawrenceville experience intellectually, culturally, and socially.</p>
<br />
<h3>Editorial Policy</h3>
<p>From <i>The Lawrence</i>'s charter:</p>
<p>An editorial may be written by an individual of the <i>Lawrence</i> Board or on behalf of the entire board. To sign an editorial “This editorial represents the majority views of the <i>Lawrence</i> Board,” an absolute majority of the Editorial Board must agree on the position taken in the editorial itself.</p>
<p>From the masthead:</p>
<p>Opinions expressed on the Opinions pages do not necessarily reflect the opinion of The Lawrenceville School or <i>The Lawrence</i>. <i>The Lawrence</i> reserves the right to edit letters to the editor and opinions.</p>
<br />
<h3>Ethics Policy</h3>
<p>From <i>The Lawrence</i>'s charter:</p>
<ol type="I">
	<li>
<p><i>The Lawrence</i> operates in agreement with the principles of the First Amendment as an agent of free speech. However, given its operation within a private institution, <i>The Lawrence</i> must respect community expectations in the content it chooses to publish.</p>
	</li>
	<li>
<p><i>The Lawrence</i> treats all individuals with respect both in print and person, not discriminating on the basis of race, color, national or ethnic origin, ancestry, nationality, sex, religion, mental or physical disability, gender identity or expression, affectional or sexual orientation, pregnancy, marital, domestic partnership or civil union status or any other status protected by applicable law in accordance with the Student Handbook.</p>
	</li>
	<li>
<p>Writers may obtain information from anonymous sources only as a last resort. In such cases, a writer must have a minimum of two sources that confirm the given information.</p>
	</li>
	<li>
<p>All writers reveal to their sources whether or not an interview is on or off the record. <i>The Lawrence</i> does not publish information received off the record.</p>
	</li>
	<li>
<i>The Lawrence</i> does not publish any articles from writers who wish to remain anonymous. In rare cases, however, in consultation with the Faculty Advisors and the rest of the Editorial Board, an Editor may withhold the identity of a writer if the importance of the article to the community outweighs the value of identifying the writer.
	</li>
</ol>
<p>Any student producing work for <i>The Lawrence</i>, whether writer, photographer, artist, or Board member, must abide by the rules and expectations set out in the Student Handbook. Situations involving infractions such as intellectual dishonesty or interpersonal attacks will be treated in the same way that they are in academic and residential contexts.</p>
<br />
<h3>Submissions</h3>
<p><i>The Lawrence</i> encourages engagement from all members of the Lawrenceville School community. If you would like to submit a letter to the editor, guest article, story idea, photo, or graphic, or just generally contact the paper, please email <a href="mailto:lvillelawrence@gmail.com">lvillelawrence@gmail.com</a> with C/O <a href="mailto:ebuckles@lawrenceville.org">ebuckles@lawrenceville.org</a>, <a href="mailto:abasu23@lawrenceville.org">abasu23@lawrenceville.org</a>, and <a href="mailto:kpark23@lawrenceville.org">kpark23@lawrenceville.org</a>. <a href="https://forms.gle/FBkoD9qyBbfSpokD7">Click here</a> to sign up for <i>The Lawrence</i>’s weekly topic email list.</p>
<br />
<p><a href="/contact">Contact Us</a></p>
<br />
<p>For more information on <i>The Lawrence</i>, please view <a href="/charter">our charter</a>.</p>