<h1>About This Site</h1>
<br />
<p>This site is written by <a href="https://ntrupin.com">Noah Trupin</a>. All content is property of <i>The Lawrence</i>.</p>
<br />
<h3>Server Side</h3>
<p>This site is written in the <a href="https://www.ruby-lang.org/">Ruby</a> programming language using the <a href="https://rubyonrails.org/">Ruby on Rails</a> web framework. It relies on <a href="https://www.postgresql.org/">PostgreSQL</a> for all text-based storage and <a href="https://aws.amazon.com/s3/">Amazon S3</a> for other assets. <a href="https://heroku.com">Heroku</a> hosts the site.
<br />
<h3>Frontend</h3>
<p>The site's frontend is written in vanilla HTML5, CSS3, and JavaScript (ECMAScript 2016), with <a href="https://getbootstrap.com/">Bootstrap</a> for styling.</p>