<h1>Masthead</h1>
<br />
<div>
  <strong><em>The Lawrence</em></strong>
  <strong> Vol. CXLIII<br><br>Editor-in-Chief<br></strong>
    Claire Jiang ’24<br><br>
  <strong>Executive Editor<br></strong>
    Luke Park ’24<br><br>
  <strong>News Editors<br></strong>
    Helena Chen ’24<br>
    Nichole Jin ’24<br><br>
  <strong>Opinions Editors<br></strong>
    Garrett Heffern ’24<br><br>
  <strong>Sports Editor<br></strong>
    Bryan Boanoh ’25<br><br>
  <strong>Arts Editor<br></strong>
    Sofia Carlisi ’24<br><br>
  <strong>Features Editors<br></strong>
    William Wang ’24<br>
    Jackie Williams ’24<br><br>
  <strong>Copy Editors<br></strong>
    Aki Li ’25<br>
    Sabrina Ottaway ’25<br><br>
  <strong>Web Editor<br></strong>
    Arisa Okamura ’25<br><br>
  <strong>Photo Editor<br></strong>
    Cindy Shum ’24<br><br>
  <strong>Graphics Editor<br></strong>
    Emily Pan ’24<br><br>
  <strong>Outreach and Media Editor<br></strong>
    Sofia Bonilla ’24<br><br>
  <strong>Faculty Advisors<br></strong>
    Mrs. Elizabeth Buckles<br>
    Ms. Ansley Keane<br>
    Ms. Lisa Gillard
</div>
