<h1>Masthead</h1>
<br />
<div>
  <strong><em>The Lawrence</em></strong>
  <strong> Vol. CXLIII<br><br>Editor-in-Chief<br></strong>
    Aki Li ’25<br><br>
  <strong>Executive Editor<br></strong>
    Imani Gaskin ’25<br><br>
  <strong>News Editors<br></strong>
    Sophie Cheng ’25<br>
    Charles Potter ’25<br><br>
  <strong>Opinions Editors<br></strong>
    Arya Vishwakarma ’25<br>
    Sabrina Ottaway ’25<br><br>
  <strong>Sports Editor<br></strong>
    Bryan Boanoh ’25<br><br>
  <strong>Arts Editor<br></strong>
    Sonia Ivancic ’25<br><br>
  <strong>Features Editors<br></strong>
    Clementine Sutter ’25<br>
    Jenny Zhao ’25<br><br>
  <strong>Copy Editors<br></strong>
    Mariam Dzidzikashvili ’25<br>
    Sydney Wang ’25<br><br>
  <strong>Web Editor<br></strong>
    Arisa Okamura ’25<br><br>
  <strong>Photo Editor<br></strong>
    Nicole Halucka ’26<br><br>
  <strong>Graphics Editor<br></strong>
    Aileen Ryu ’25<br><br>
  <strong>Outreach and Media Editor<br></strong>
    Grace Zhang ’25<br><br>
  <strong>Faculty Advisors<br></strong>
    Mrs. Elizabeth Buckles<br>
    Ms. Ansley Keane<br>
</div>
