<h1><i><i>The Lawrence</i></i> Student Newspaper Subscription</h1>
<p>Dear Lawrenceville Families,</p>
<p>For more than a century, <i>The Lawrence</i> has served as the weekly newspaper of <i>The Lawrence</i>ville School. Written, edited, published, and managed by Lawrenceville students, it aspires to present Lawrentians’ voices and respond to topics that range from school news to global events to humorous slants on the nuances of Lawrenceville life.</p>
<p>As each editorial board privileged enough to staff <i>The Lawrence</i> continues a tradition of journalistic passion, it does not take long before its editors realize the significance their positions hold. We have found that the fruits of our labor are manifested not only in physically producing the paper itself, but also in the fact that a student publication can cause change and provoke thought on campus. We believe <i>The Lawrence</i> should not aspire for merely a weekly collection of articles and opinions, but rather provide a dynamic medium for expression and development of writing for the entire community. As the 144rd Editorial Board, we strive not only to learn from the commendable work of our predecessors, but also to leave behind a unique legacy of excellence.</p>
<p>If we wish to attain such high standards, we need your help. Please <a href="https://events.veracross.com/lville/77-thelawsub23">click here</a> to subscribe to <i>The Lawrence</i>, a portal to Lawrenceville news and campus life. Copies of <i>The Lawrence</i> are sent out each week to all subscribers. As a member of The Lawrenceville community, we thank you for your interest and involvement. We also invite you to follow us on Instagram (thelawrence1881) or visit our website at <a href="http://thelawrence.lawrenceville.org">thelawrence.lawrenceville.org</a>.</p>
<br />
<p class="mb-0">Sincerely,</p>
<p>The 144rd Editorial Board of <i>The Lawrence</i></p>
<br />
<p class="mb-0">2023-24 Subscription Rates (25 issues/year)</p>
<p class="mb-0">Continental United States: $125.00 ($5.00/issue)</p>
<p>International: $150.00 ($6.00/issue)</p>
